@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid black;
    padding: 10px;
}
main{
    display: flex;
    justify-content: center;
}

.quartos-cadastrados{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    
    .quarto{
        width: 250px;
        height: 150px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.185);
    }
    .btn{
        font-size: 0.6em;
        margin-top: 8px;
        padding: 4px 8px;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .ocupado{
        color: darkred;
        background-color: rgba(255, 25, 25, 0.333);
        .btn{
            background-color: darkred;
        }
        .btn::content{
            content: "Co";
        }
    }
    .livre{
        color: darkgreen;
        background-color: rgba(25, 189, 0, 0.333); 
        
        .btn-checkIn{
            background-color: darkgreen;
            content: "CHECK-IN";
        }
        .btn:a{
            content: "Ck";
        }
    }
}





