@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid black;
    padding: 10px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.quartos-container{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    
    .quarto{
        width: 250px;
        height: 150px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.185);
    }
    .btn{
        font-size: 0.6em;
        margin-top: 8px;
        padding: 4px 8px;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .ocupado{
        color: darkred;
        background-color: rgba(255, 25, 25, 0.333);
        .btn{
            background-color: darkred;
        }
    }
    .vago{
        color: darkgreen;
        background-color: rgba(25, 189, 0, 0.333); 
        .btn{
            background-color: darkgreen;
        }
    }
}
.settings{
    position: absolute;
    top: 20%;
    background-color: white;
    width: 90vw; height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form{
        width: 40%;
        text-align: center;
        font-size: 1.2em;
    }
    button{
        width: 20%;
        background-color: blueviolet;
        color: white;
        border: none;
        padding: 5px 2px;
        border-radius: 8px;
    }
    button:active{
        transform: scale(1.02);
    }
    input[type=number]{
        width: 50%;
        display: block;
        text-align: center;
        margin: 4px auto;
        border: none;
        border-bottom: 1px solid;
    }
    input:focus{
        outline: none;
    }
}

section.form-container{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 12vh;
    padding: 10px;
    width: 95vw;
    height: 80vh;
    display: none;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    animation: exibir 0.2s ease-in;
    
    input{
        display: block;
        padding: 4px;
        font-size: 1.02em;
        text-transform: capitalize;
    }
    label{
        font-size: 0.8em;
    }
    button[type="submit"]{
        background-color: rgba(25, 189, 0, 0.333);
        color: darkgreen;
        border: none;
        border-radius: 10px;
        margin-top: 5px;
        display: block;
        margin: 10px auto;
        padding: 6px;
        width: 100%;
    }

    

}


@keyframes exibir{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


