@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid black;
    padding: 10px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.quartos-cadastrados{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    
    .quarto{
        width: 250px;
        height: 150px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.185);
    }
    .btn{
        font-size: 0.6em;
        margin-top: 8px;
        padding: 4px 8px;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .ocupado{
        color: darkred;
        background-color: rgba(255, 25, 25, 0.333);
        .btn{
            background-color: darkred;
        }
    }
    .vago{
        color: darkgreen;
        background-color: rgba(25, 189, 0, 0.333); 
        .btn{
            background-color: darkgreen;
        }
    }
}
.settings{
    input{
        width: 70px;
    }
}
section.modal{
    background-color: white;
    position: absolute;
    top: 20vh;
    padding: 10px;
    width: 300px;
    height: 200px;
    display: none;
    input{
        display: block;
    }
    input[type="submit"]{
        background-color: aquamarine;
        border: 1px solid gray;
        margin-top: 10px;
    }

    form.check-in{
        display: none;
    }

}





